@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*, *::before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}
.logo__img {
    position: absolute;
    width: 250px;
    height: 120px;
    left: -10px;
    top: 43px;
    background: url(../img/img-2.png);
}
.logo p{
    position: absolute;
    width: 270px;
    height: 61px;
    left: 150px;
    top: 63px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.27em;
    color: #FF003D;
}

.name p {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 65px;
    top: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.055em;
    color: #FF2B51;
}

.name h1 {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 100px;
    top: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.055em;
    color: #FF2B51;
}

.profession {
    position: absolute;
    width: 334px;
    height: 85px;
    left: 75px;
    bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.from {
    position: absolute;
    width: 205px;
    height: 62px;
    left: 80px;
    bottom: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.055em;
    color: #C0C0C0;
}

.in {
    position: absolute;
    width: 99px;
    height: 62px;
    left: 145px;
    bottom: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.055em;
    color: #FF2B51;
}

.social__icons {
    position: absolute;
    width: 300px;
    height: 39.16px;
    right: 100px;
    bottom: 50px;
    
}

.social__icons li {
    display: inline;
    list-style: none;
    margin-left: 35px;
    cursor: pointer;
}

.social__icons li:hover{
    filter: blur(1.5px);
}

.menu {
    position: absolute;
    width: 800px;
    height: 73px;
    right: -330px;
    top: 460px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.055em;
    transform: rotate(90deg);
}

.menu li{
    list-style: none;
    display: inline;
    margin-left: 100px;
}
.menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu a:hover {
    color: #FF2B51;
}


.circle {
    width: 600px;
    height: 600px;
    position: absolute;               
    top: 60%;   
    left: 540px;                     
    transform: translate(0, -50%);
    border: 30px solid #E40037;
    box-sizing: border-box;
    border-radius: 100%;
    z-index: 1;
}

.circle__shadow {
    width: 600px;
    height: 600px;
    position: relative;               
    top: 50%;
    right: 40px;                
    transform: translate(0, -50%);
    border: 30px solid #E40037;
    box-sizing: border-box;
    border-radius: 100%;
    filter: blur(30px);
}

.circle__img {
    position: absolute;
    width: 597px;
    height: 669px;
    left: 505px;
    bottom: 0;
    background: url(../img/img.png);
    z-index: 2;
    
}
